
<div id="mainContainer"></div><script>function showDialog() {
    const newDialog = document.createElement('div');
    newDialog.style.border = 'solid 1px black';
    newDialog.style.position = 'absolute';
    newDialog.style.width = '100%';
    newDialog.style.height = '100%';
    newDialog.style.top = '0px';
    newDialog.style.background = 'white';

    const closeBtn = document.createElement('button');
    const dialogText = document.createElement('div');
    newDialog.appendChild(closeBtn);
    newDialog.appendChild(dialogText);
    dialogText.innerText = 'This is a dialog';
    closeBtn.innerText = 'Close';
    document.addEventListener('click', function (e) {
        if (e.target === closeBtn) {
            delete closeBtn.tmp
            newDialog.parentElement.removeChild(newDialog);
        }
    });

    //do not remove this part, it is for the ease of leak identification
    const tmp = []; 
    for(let i = 1; i < 5000000; i++) {
        tmp.push(i);
    }
    closeBtn.tmp = tmp;
    //end
    document.body.appendChild(newDialog);
}
</script><button onclick="showDialog()">Show dialog</button>